:root {
    --dark-blue: #222222;
    --pink: #F1E4E6;
    --red: #F16D7F;
    --light-grey: #F8F8F8;
}

body {
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
}

header {
    background-color: var(--dark-blue);
    
}

.header__logo {
    margin-right: 40px;
}   

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header__menu {
   background-color: #fff;
   width: 232px;
   display: none;
}

.header__menu-title {
    font-family: Lato;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    color: #000000;
    padding-left: 34px;
    margin-bottom: 24px;
}

.header__menu-list {
    list-style-type: none;
    padding-left: 32px;
}

.menu__item-link {
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: var(--red);
    text-transform: uppercase;
    text-decoration: none;
    
}

.menu__item-sublink {
    list-style-type: none;
    margin-top: 12px;
}

.menu__item-sublink li {
    margin-bottom: 11px;
    padding-left: 21px;
}

.menu__item-sublink a {
    text-decoration: none;
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    color: #6F6E6E;
    line-height: 17px;
    font-style: normal;
}

.header__link {
    margin-left: 35px;
}

.header__burger-menu {
    border: none;
    background-color: transparent;
}

.header__menu-title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.main__slider {
    display: flex;
    margin-bottom: 64px;
}

.main__slider-title-wrapper {
    background-color: var(--pink);
    flex-grow: 1;
    align-items: center;
    display: flex;
    padding-left: 92px;
}

.main__slider-title {
    font-style: bold;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px; 
    width: 377px;
}

.main__slider-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 58px;
    display: block;
}

.main__slider-subtitle-red {
    color: var(--red);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

.deals__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
}

.deals__list-item {
    width: 360px;
    min-height: 260px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    text-align: center;
}

.main__featured-img:hover {
    background-color: rgba(58, 56, 56, 0.86);
    opacity: 0.2; /* накидал на будущее */
}

.deals__list-item-text {
    font-family: Lato;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: white;
    text-transform: uppercase;
}

.deals__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 28,8px; 
    text-transform: uppercase;
    color: var(--red);
}

.deals__list-item--woman {
    background-image: url(./img/for-woman.jpg);
    background-size: 360px 260px;
}

.deals__list-item--man {
    background-image: url(./img/for-man.jpg);
}

.deals__list-item--kids {
    background-image: url(./img/for-kids.jpg);
}

.deals__list-item--accessoires {
    background-image: url(./img/acessoires.jpg);
    width: 100%;
    min-height: 180px;
    padding: 65px 0 0 0;
}

.deals__list-item-inner {
    padding: 105px 0;
}

.main__featured-title {
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    font-style: normal;
    margin-bottom: 6px;
}

.main__featured-text {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 48px;
}

.main__featured__item-title {
    font-size: 13px;
    line-height: 16px;
    font-style: normal;
    margin-bottom: 12.5px;
}

.main__featured__item-text {   
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
}

.main__featured-text-wrapper {
    background-color: var(--light-grey);
    padding: 24px 0 20px 18px;
}

.main__featured__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48.5px;
}

.main__featured__item {
    width: 360px;
    min-height: 581px;
}

.main__featured-button-wrapper {
    display: flex;
}

.main__featured-button {
    background-color: var(--red);
    width: 219px;
    padding: 14px 38px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    border: none;
    margin: 0 auto 95px;
}

.main__featured-price {
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--red);
    font-family: Lato;
}

.main__advantages {
    background-color: var(--dark-blue);
}

.main__advantages-item {
    text-align: center;
}

.main__advantages-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 341px;
}

.main__advantages-heading {
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    font-style: normal;
    margin: 19px 0 16px 0;
}

.main__advantages-text {
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.subscribe {
    background-image: url(./img/subscribe-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 448px;
}

.subscribe__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}